// COLORS
$color-primary: #daad52;
$color-primary-ligth: #d8ab52;
$color-primary-dark: #9e7526;

$color-secondary-light: #555555;
$color-secondary-dark: #222222;

$color-invalid: #e01c1c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643ff;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000000;
$color-grey: #eee;

// FONT-SIZE
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;