.header {
  height: 95vh;

  @include respond(tab-port) {
    height: 70rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-ligth, 0.8),
      rgba($color-primary-dark, 0.8));
  //url(../img/hero-small.jpg);
  //background-size: cover;
  background-position: top;
  position: relative;
}

    @include respond(phone) {
      height: 9rem;
  }


}